.number-display {
  color: black;
  width: 100px;
  margin: 5px 10px 5px 10px;
}

.number-display-left-container {
  display: flex;
  justify-content: flex-start;
}

.number-display-right-container {
  display: flex;
  justify-content: flex-end;
}
