.number-display {
  color: red;
  margin: 5px 10px 5px 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
}

.number-display-left-container {
  display: flex;
  justify-content: flex-start;
}

.number-display-right-container {
  display: flex;
  justify-content: flex-end;
}
